.kt-pointer {
  cursor: pointer;
}

.carousel {
  z-index: -1;
}

.kt-carousel-text-container {
  margin: -300px 0px 130px 20px;
}
.kt-carousel-text-container h1 {
  color: #223a66;
}

.cta {
  background: url(../images/bgstarts.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}

.whatsapp {
  position: fixed;
  /*background: red;*/
  z-index: 99999;
  right: 55px;
  /*width: 50px;
  height: 50px;*/
  bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: 0.3s;
}
.whatsapp img {
  width: 60px;
}

.bg-1 {
  background: url(../images/thankyou.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}

.backtop {
  bottom: 120px;
}

.service {
  padding-top: 40px;
}

@media only screen and (max-width: 600px) {
  .kt-carousel-text-container {
    margin: -200px 0px 130px 20px;
  }

  .kt-hero-message {
    display: none !important;
  }
}
.lds-roller div:after {
  background: darkslateblue;
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#kt-loaderoverlay {
    position: absolute;
    top:0px;
    width: 100vw;
    height: 6000px;
    background-color: white;
    z-index: 1000000;
}